@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Onboarding */
.Board {
  background: #161622;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: #ffffff;
    font-family: poppins;
    font-size: 2rem;
  }
}
.screen {
  background: #161622;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  .texts {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-family: poppins;
    text-align: center;
    span {
      font-size: 2rem;
      color: #ffffff;
    }
    small {
      color: #7e848d;
      font-family: poppins;
      font-size: 1.2rem;
    }
  }
  .btn {
    background-color: #0066ff;
    padding: 1rem 5rem;
    border-radius: 10px;
    color: #ffffff;
    font-family: poppins;
    text-decoration: none;
    cursor: pointer;
    #link {
      color: white;
    }
  }
}
